/* Variables globales */
@import 'variables';
@import 'mixins';
//@import 'utilities/layout';

/* Componentes */
@import 'components/navbar';
@import 'components/bookcard';
@import 'components/searchbar';
@import 'components/bookmodal';


/* Páginas */
@import 'pages/home';
@import 'pages/landing';
@import 'pages/bookdetail';
@import 'pages/cart';
@import 'pages/checkout';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f6f8;
}